# Manipulation de données
pandas==2.2.3
numpy==1.26.4

# Machine learning
scikit-learn==1.5.2

# Jupyter (pour les notebooks d'analyse)
jupyter==1.1.1
ipykernel==6.29.5

# Visualisation (EDA)
matplotlib==3.9.2
seaborn==0.13.2
missingno==0.5.2
